.naranja {
    background-color: #FFA335;
}

.verde {
    background-color: #DAEC00;
}

.azul {
    background-color: #4A89D0;
}

.gris {
    background-color: #E3E3E3;
}

.box {
    margin: 0.4em 0;
}

.box--small {
    height: 80px;
}

.box--medium {
    height: 150px;
}

.box--large {
    height: 400px;
}