.sticky-top-bar {
    width: 100%;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

.global-nav {
    background: rgba(0, 0, 0, .8);
    padding: 12px;
}

.hamburger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    left: 10px;
    color: #abf000;
}

.off-canvas-left {
    background-color: #000000;
    max-height: 100%;
    padding: 15px 0;
}

.off-canvas-left-list {
    list-style-type: none;
    margin-bottom: 1rem;
    list-style-position: outside;
    line-height: 1.6;
    margin-left: 0;
}

.off-canvas-left-list li {
    padding: 0 15px;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.off-canvas-left-a {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 38px;
    opacity: .75;
}

.off-canvas-left-title {
    color: #727272;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
}

.footerc {
    background-color: #000000;
}

.redes-l {
    justify-content: space-between;
    display: flex;
}

.redes {
    color: #000;
    background: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px !important;
    border-radius: 50%;
    text-align: center;
}

.footerc-e {
    text-align: center;
}

.naranja {
    background-color: #FFA335;
}

.verde {
    background-color: #DAEC00;
}

.azul {
    background-color: #4A89D0;
}

.gris {
    background-color: #E3E3E3;
}

.box {
    margin: 0.4em 0;
  
}

.box--small {
    height: 80px;
}

.box--medium {
    height: 175px;
}

.box--large {
    height: 250px;
    margin-bottom:100px;
    text-align: center;
    padding-top:50px;

    
}

.orbitInicio
{
	height:400px!important;
width:100%!important;
	
}

.centrarDiv
{
    text-align:center;
}


.tituloPantalla
{
	margin-left:0;
	display:block;
	float:left;
	width:100%;
}

[class*="imagenTitulo"] {

 	background:url('../img/contactanos1.png') no-repeat;
    	height: 250px;
    	color: #FFFFFF;
    	margin-bottom:100px;
    	text-align: right;
    	padding-right:250px;
    	padding-top:50px;
    	background-attachment: fixed;

   	background-position: center top;
}



@media print, screen and (min-width: 40em) {
	.imagenTitulo{

   	background:url('../img/contactanos1.png') no-repeat;
    	height: 250px;
    	color: #FFFFFF;
    	margin-bottom:100px;
    	text-align: right;
    	padding-right:250px;
    	padding-top:50px;
    	background-attachment: fixed;

   	background-position: center top;
    opacity: 0.5;

	}
}


.divBorde
{
	
	border-bottom: 5px dotted rgba(95,95,94,1);
	padding-bottom:10px;
}

[class*="BackgroundGeneral"] {
  background: url('../img/FondoMobil.png') no-repeat center center fixed;
  background-size: contain;
  height:500px;
}

@media print, screen and (min-width: 40em) {

	.BackgroundGeneral {
    		background: url('../img/FondoGeneral.jpg') no-repeat center center fixed;
    		background-size: cover;
	}
}

.HeaderTabla {
    background-color: rgba(0,0,0,.8);
    color: #ABF000;
}

.BotonVerde
{
	background-color: #ABF000!important;
	color: #000000;
}

.backG1 {
    background: url('../img/lupa.png') no-repeat center;
    height: 150px;
    margin-bottom:10px;
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, .05);

}



.backG2 {
    background: url('../img/lupa.png') no-repeat center;
    height: 150px;
    margin-bottom:10px;
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, .05);

}

.backG3 {
    background: url('../img/lupa.png') no-repeat center;
    height: 150px;
    margin-bottom:10px;
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, .05);

}

.cambiar:hover
{
  background:rgba(57,57,57,.8);
  color:#FFFFFF;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  box-shadow: inset 0 0 0 3px #555953;
  text-align:center;
  display: flex;
justify-content: center;
align-items: center;
}


