.sticky-top-bar {
    width: 100%;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

.global-nav {
    background: rgba(0, 0, 0, .8);
    padding: 12px;
}

.hamburger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    left: 10px;
    color: #abf000;
}

.off-canvas-left {
    background-color: #000000;
    max-height: 100%;
    padding: 15px 0;
}

.off-canvas-left-list {
    list-style-type: none;
    margin-bottom: 1rem;
    list-style-position: outside;
    line-height: 1.6;
    margin-left: 0;
}

.off-canvas-left-list li {
    padding: 0 15px;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.off-canvas-left-a {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 38px;
    opacity: .75;
}

.off-canvas-left-title {
    color: #727272;
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
}

.footerc {
    background-color: #000000;
}

.redes-l {
    justify-content: space-between;
    display: flex;
}

.redes {
    color: #000;
    background: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 40px !important;
    border-radius: 50%;
    text-align: center;
}

.footerc-e {
    text-align: center;
}

.naranja {
    background-color: #FFA335;
}

.verde {
    background-color: #DAEC00;
}

.azul {
    background-color: #4A89D0;
}

.gris {
    background-color: rgba(211, 211, 211, .5);
}

.box {
    margin: 0.4em 0;
  
}

.box--small {
    height: 80px;
}

.box--medium {
    height: 175px;
}

.box--large {
    height: 150px;
    margin-bottom:75px;
    text-align: center;
    padding-top:50px;
    border-bottom: 8px dotted black; 

    
}


.orbitInicio
{
	height:400px!important;
width:100%!important;
	
}

.centrarDiv
{
    text-align:center;
}

.imagenAdaptable
{
	border:none;
padding:0;
margin:0;
width:100%;

}

.bordeNosotros
{
	padding-top:40px;
}


.tituloPantalla
{
	margin-left:0;
	display:block;
	float:left;
	width:100%;
}

[class*="imagenTitulo"] {

 	background:url('../img/tituloMobil.png') no-repeat;
    	height: 125px;
    	color: #00000;
    	margin-bottom:100px;
    	text-align: right;
    	
    	padding-top:25px;
    	background-attachment: fixed;

   	background-position: center top;
}

@media print, screen and (min-width: 768px) {
	.imagenTitulo{

   	background:url('../img/tituloLaptop.png') no-repeat;
    	height: 125px;
    	color: #00000;
    	margin-bottom:100px;
    	text-align: right;
    
    	padding-top:25px;
    	background-attachment: fixed;

   	background-position: center top;


	}
}



@media print, screen and (min-width: 1200px) {
	.imagenTitulo{

   	background:url('../img/tituloMonitor.png') no-repeat;
    	height: 125px;
    	color: #00000;
    	margin-bottom:100px;
    	text-align: right;
    
    	padding-top:25px;
    	background-attachment: fixed;

   	background-position: center top;


	}
}


.divBorde
{
	margin-bottom: 5px dotted rgba(95,95,94,1);
	padding-bottom:10px;
}

[class*="BackgroundGeneral"] {
  background: url('../img/fondoMobil.png') no-repeat center center fixed;
  background-size: contain;
  height:500px;
}

@media print, screen and (min-width: 40em) {

	.BackgroundGeneral {
    		background: url('../img/fondoGeneral.jpg') no-repeat center center fixed;
    		background-size: cover;
		
	}
}

.HeaderTabla {
    background-color: rgba(0,0,0,.8);
    color: #ABF000;
}

.BotonVerde
{
	background-color: #ABF000!important;
	color: #000000;
}

.backG1 {
    background: url('../img/iconHome1.png') no-repeat center;
    height: 150px;
    margin-bottom:10px;
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, .0005); 

}



.backG2 {
    background: url('../img/iconoHome2.png') no-repeat center;
    height: 150px;
    margin-bottom:10px;
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, .0005); 
   

}

.backG3 {
    background: url('../img/iconoHome3.png') no-repeat center;
    height: 150px;
    margin-bottom:10px;
    transition: all 0.3s ease;
    color: rgba(255, 255, 255, .0005); 

}

.cambiar:hover
{
  background:rgba(57,57,57,.8);
  color:#FFFFFF;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  box-shadow: inset 0 0 0 3px #555953;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtroSlider
{
filter: blur(10px);
-webkit-filter: blur(10px);
    -moz-filter: blur(10px);
}

.pricing-table {
  background-color: #fefefe;
  border: solid 1px #cacaca;
  width: 90%;
  text-align: center;
  list-style-type: none;

}

.pricing-table li {
  border-bottom: dotted 1px #cacaca;
  padding: 0.875rem 1.125rem;
}

.pricing-table li:last-child {
  border-bottom: 0;
}

.pricing-table .title {
  background-color: #0a0a0a;
  color: #fefefe;
  border-bottom: 0;
}

.pricing-table .price {
  background-color: #e6e6e6;
  font-size: 2rem;
  border-bottom: 0;
}

.pricing-table .description {
  color: #8a8a8a;
  font-size: 80%;
}

.pricing-table :last-child {
  margin-bottom: 0;
}

.pricing-table .picture {
  background-color: #fefefe;
  font-size: 2rem;
  border-bottom: 0;
}

.presentacionesDrop
{
padding:0px!important;
margin:0px;
width:auto;
height:auto;
text-align-last:center;

}

.productoHover:hover
{
     -webkit-transform: scale(1.01);
     -ms-transform: scale(1.01);
     transform: scale(1.01);

     -webkit-filter: drop-shadow(10px 8px 10px gray);/* Safari */
    filter: drop-shadow(10px 8px 10px gray);
    -moz-filter: drop-shadow(10px 8px 10px gray);

}

.etiquetaPagina
{
    background-color:gray;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: .125rem;
    box-sizing:border-box;
}

.controlTamanioPag
{
	margin-bottom: 50px;
        border-bottom: 5px solid black; 
}

.filaPagineo
{	
	color:gray!important;
	padding-top:20px;
	padding-bottom: 50px;
}

.imgProducto
{
   height:150px!important;
}

.imgInformate
{ 
 
  padding:0px!important;
}

.imgInfo:hover
{
opacity: 0.3;
  filter: alpha(opacity=30);
}
















