.sticky-top-bar {
    width: 100%;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

.global-nav {
    background: rgba(0, 0, 0, .8);
    padding: 12px;
}

.hamburger {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    left: 10px;
    color: #abf000;
}